{#
/**
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
**/
#}

{% set classes = [
    'layout',
    'content-page'
] %}


{% if content %}
    <div{{ attributes.addClass(classes) }}>
        {% if content.header_content|render %}
            <div class="header-wrapper">
                {{ content.header_content }}
            </div>
        {% endif %}

        {% if node.field_show_how_does_it_work.value %}
        <div class="overview-view-wrapper">
            {{ drupal_view('how_does_it_work', 'block_1') }}
        </div>
        {% endif %}

{# {{dd(node.field_show_how_does_it_work.value)}} #}
        {% if content.field_contentblokken|render %}
            {{ content.field_contentblokken }}
        {% endif %}

        {% if content.body|render %}
            <div class="body-content">
                <div class="body-wrapper">
                    {{ content.body }}
                </div>
            </div>
        {% endif %}

        {% if node.field_show_reviews.value %}
            <div class="overview-view-wrapper">
                {{ drupal_view('klanttevredenheid', 'block_1') }}
            </div>
        {% endif %}

        {% if content.banner|render %}
            <section class="section-banner">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            {{ content.banner_content }}
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    </div>
{% endif %}
