{#
/**
 * @file
 * Theme override for a 'radios' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered radios.
 *
 * @see template_preprocess_radios()
 */
#}

<div{{ attributes.addClass('js-webform-radios webform-options-display-buttons webform-options-display-buttons-horizontal form-radios') }}>
  {% if date("l") not in ['Wednesday']  %}
  <div class="webform-options-display-buttons-wrapper">
    <div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-frequentie form-item-frequentie">
      <input
        data-drupal-selector="edit-bezorginggegevens-opt-1"
        type="radio"
        class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-bezorginggegevens form-item-bezorggegevens btn-check"
        id="edit-bezorginggegevens-opt-1"
        name="bezorginggegevens"
        value="{{ now|date_modify("next thursday +1 week")|date("d-m-Y") }}"
        required>
      <label for="edit-bezorginggegevens-opt-1" class="btn btn-outline-success webform-options-display-buttons-label option">{{ now|date_modify("next thursday +1 week")|date("d-m-Y") }}</label>
    </div>
  </div>
  <div class="webform-options-display-buttons-wrapper">
    <div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-frequentie form-item-frequentie">
      <input
        data-drupal-selector="edit-bezorginggegevens-opt-2"
        type="radio"
        class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-bezorginggegevens form-item-bezorggegevens btn-check"
        id="edit-bezorginggegevens-opt-2"
        name="bezorginggegevens"
        value="{{ now|date_modify("next thursday +2 week")|date("d-m-Y") }}"
        required>
      <label for="edit-bezorginggegevens-opt-2" class="btn btn-outline-success webform-options-display-buttons-label option">{{ now|date_modify("next thursday +2 week")|date("d-m-Y") }}</label>
    </div>
  </div>
  <div class="webform-options-display-buttons-wrapper">
    <div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-frequentie form-item-frequentie">
      <input
        data-drupal-selector="edit-bezorginggegevens-opt-3"
        type="radio"
        class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-bezorginggegevens form-item-bezorggegevens btn-check"
        id="edit-bezorginggegevens-opt-3"
        name="bezorginggegevens"
        value="{{ now|date_modify("next thursday +3 week")|date("d-m-Y") }}"
        required>
      <label for="edit-bezorginggegevens-opt-3" class="btn btn-outline-success webform-options-display-buttons-label option">{{ now|date_modify("next thursday +3 week")|date("d-m-Y") }}</label>
    </div>
  </div>
  {% else %}
  <div class="webform-options-display-buttons-wrapper">
    <div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-frequentie form-item-frequentie">
      <input
        data-drupal-selector="edit-bezorginggegevens-opt-1"
        type="radio"
        class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-bezorginggegevens form-item-bezorggegevens btn-check"
        id="edit-bezorginggegevens-opt-1"
        name="bezorginggegevens"
        value="{{ now|date_modify("next thursday")|date("d-m-Y") }}"
        required>
      <label for="edit-bezorginggegevens-opt-1" class="btn btn-outline-success webform-options-display-buttons-label option">{{ now|date_modify("next thursday")|date("d-m-Y") }}</label>
    </div>
  </div>
  <div class="webform-options-display-buttons-wrapper">
    <div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-frequentie form-item-frequentie">
      <input
        data-drupal-selector="edit-bezorginggegevens-opt-2"
        type="radio"
        class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-bezorginggegevens form-item-bezorggegevens btn-check"
        id="edit-bezorginggegevens-opt-2"
        name="bezorginggegevens"
        value="{{ now|date_modify("next thursday +1 week")|date("d-m-Y") }}"
        required>
      <label for="edit-bezorginggegevens-opt-2" class="btn btn-outline-success webform-options-display-buttons-label option">{{ now|date_modify("next thursday +1 week")|date("d-m-Y") }}</label>
    </div>
  </div>
  <div class="webform-options-display-buttons-wrapper">
    <div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-frequentie form-item-frequentie">
      <input
        data-drupal-selector="edit-bezorginggegevens-opt-3"
        type="radio"
        class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-bezorginggegevens form-item-bezorggegevens btn-check"
        id="edit-bezorginggegevens-opt-3"
        name="bezorginggegevens"
        value="{{ now|date_modify("next thursday +2 week")|date("d-m-Y") }}"
        required>
      <label for="edit-bezorginggegevens-opt-3" class="btn btn-outline-success webform-options-display-buttons-label option">{{ now|date_modify("next thursday +2 week")|date("d-m-Y") }}</label>
    </div>
  </div>
  {% endif %}
</div>

<input
  data-drupal-selector="edit-bezorgdatum"
  type="text"
  id="edit-bezorgdatum"
  name="bezorgdatum"
  value="{% if date("l") not in ['Wednesday']  %}{{ now|date_modify("next thursday +1 week")|date("d-m-Y") }}{% else %}{{ now|date_modify("next thursday")|date("d-m-Y") }}{% endif %}"
  size="60"
  maxlength="255"
  required="required"
  aria-required="true"
  class="form-text required d-none"
  >
